[user]
	name = cschar
	email = cschar@users.noreply.github.com

[core]
    # global gitignore
    excludesfile = /Users/cody/.gitignore
    
[url "git@github.com:"]
  insteadOf = "https://github.com"
  
# [includeIf "gitdir:~/dev/"]
#   path = .gitconfig-dev

# [includeIf "gitdir:~/dev/personal/"]
#   path = .gitconfig-personal

# [includeIf "gitdir:~/work/"]
#   path = .gitconfig-work
